{% extends 'base.html'%}


<body>
{% block content %}

  <h1 class="header">Reptiles</h1>

  <div class="card-grid">
    {% for each in animal_data %}
    <a href="{{ url_for('redirecting', pressed=each.common_name) }}">
    <div class="card" style="width: 17rem;">
      <img src="{{ each.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          {{ each.common_name }}
        </h5>
      </div>
    </div>
      </a>
    {% endfor %}
  </div>

{% endblock %}
</body>